%h1 Listing volunteers
%table
  %tr
    %th Full name
    %th Email
    %th Preferences
  - @volunteers.each do |volunteer|
    %tr
      %td= h volunteer.full_name
      %td= h volunteer.email
      %td= h volunteer.preferences
      %td= link_to 'Show', volunteer
      %td= link_to 'Edit', edit_volunteer_path(volunteer)
      %td= link_to 'Destroy', volunteer, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New volunteer', new_volunteer_path
