%h1 Listing slots
%table
  %tr
    %th Time
  - @slots.each do |slot|
    %tr
      %td= h slot.time
      %td= link_to 'Show', slot
      %td= link_to 'Edit', edit_slot_path(slot)
      %td= link_to 'Destroy', slot, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New slot', new_slot_path
