%h1 Listing contents
%table
  %tr
    %th Name
    %th Value
    %th Category
  - @contents.each do |content|
    %tr
      %td= h content.name
      %td= h content.value
      %td= h content.category
      %td= link_to 'Show', content
      %td= link_to 'Edit', edit_content_path(content)
      %td= link_to 'Destroy', content, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New content', new_content_path
