%h1 New sponsor
- form_for(@sponsor) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :note
    %br/
    = f.text_field :note
  %p
    = f.submit 'Create'
= link_to 'Back', sponsors_path
