%h1 Listing submissions
%table
  %tr
    %th Full name
    %th Email
    %th Homepage
    %th Title
  - @submissions.each do |submission|
    %tr
      %td= h submission.full_name
      %td= h submission.email
      %td= h submission.homepage
      %td= h submission.title
      %td= link_to 'Show', submission
      - if signed_in? && current_user.admin?
        %td= link_to 'Edit', edit_submission_path(submission)
        %td= link_to 'Destroy', submission, :confirm => 'Are you sure you want to delete this submission?', :method => :delete
        %td= link_to 'Accept', submission, :confirm => "Are you sure you want to accept this submission?"
%br/
= link_to 'New submission', new_submission_path
