.prepend-4.span-24
  %h2 Full Name
  %p= "#{@submission.full_name||"n/a"}"

  %h2 Title
  %p= "#{@submission.title||"n/a"}"

  %h2 Description
  %p= "#{@submission.description||"n/a"}"

  %h2 Email
  %p= "#{@submission.email||"n/a"}"

  %h2 Homepage
  %p= "#{@submission.homepage||"n/a"}"

  %h2 Biography
  %p= "#{@submission.biography||"n/a"}"
  - if signed_in? && current_user.admin?
    = link_to 'Edit', edit_submission_path(@submission)
    |
    \#{link_to 'Back', submissions_path}
