%h1 Listing speakers
%table
  %tr
    %th Full name
    %th Email
    %th Homepage
    %th Biography
  - @speakers.each do |speaker|
    %tr
      %td= h speaker.full_name
      %td= h speaker.email
      %td= h speaker.homepage
      %td= h speaker.biography
      %td= link_to 'Show', speaker
      %td= link_to 'Edit', edit_speaker_path(speaker)
      %td= link_to 'Destroy', speaker, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New speaker', new_speaker_path
